<md-toolbar class="Menubar">

  <img src='http://img4.hostingpics.net/pics/662002androidchrome192x192burned.png'>
  <div class="titlew" >ictu'r Gallery</div>

  <div class='TitlePos'>
    <a href="/#/index">
      <button md-button class="ButtonStyle">
        Home
      </button>
    </a>
  </div>



  <div class="ButtonPos">
    <a href="/#/login">
      <button md-button class="ButtonStyle">
        Login
      </button>
    </a>

<!--

    <a href data-ng-show="token" ng-click="logout()"><b>Logout</b></a>
    <a href data-ng-hide="token" ng-click="dropdown"><b>Login</b></a>

-->

  </div>

</md-toolbar>

<video autoplay loop id="video-background" muted class="VideoStyle">
  <source src="https://vimeo-hp-videos.global.ssl.fastly.net/1/1.mp4" type="video/mp4">
</video>


<div class="welcome">
  <pre>
  >>  CHARGEMENT ...<div class="pictur">
  >>  Bienvenue sur Pictu'r ...
  >>
  >>   |||||||||    ****     |||||||||    /|||||||||\     ||||     ||     ***    ////////////
  >>   ||     ||     **      |||              |||         ||||     ||    **     ///      ///
  >>   |||||||||    ||||     |||              |||         ||||     ||   *      ////////////
  >>   ||           ||||     |||              |||         ||||     ||         ////  ///
  >>   ||           ||||     |||||||||       |||||        |||||||||||        ////    /////
  >>
  >>   v1.7.49
  </div>
  </pre>
  <div>
    <ul>
      <!-- <li *ngFor="let user of users">{{user.username}} </li>-->
    </ul>
  </div>
  <!-- <p><a [routerLink]="['/login']">Logout</a></p>-->

</div>
