
<md-toolbar class="Menubar">

  <img src='http://img4.hostingpics.net/pics/662002androidchrome192x192burned.png'>
  <div class="titlew" >ictu'r Gallery</div>

  <div class='TitlePos'>
    <a href="/#/index">
      <button md-button class="ButtonStyle">
        Home
      </button>
    </a>
  </div>

  <div class="ButtonPos">
    <a routerLink="/#/gallery" routerLinkActive="active">
      <button md-button  class="ButtonStyle">
        Gallery
      </button>
    </a>
  </div>

  <div class="ButtonPos">
    <a routerLink="/#/upload" routerLinkActive="active">
      <button md-button color="primary" class="ButtonStyle">
        Upload
      </button>
    </a>
  </div>

  <div class="ButtonPos">
    <a href ="/#/login">
      <button md-button color="primary" class="ButtonStyle">
        Login
      </button>
    </a>
  </div>

</md-toolbar>

<form  class='form' (submit)="uploadPicture(pictureTmp)">

  <div class="dropzone shad">
    <input
      id="uploadbutton"
      class="uploadbutton"
      type="file"
      accept="image/jpeg"
      (change)="drag($event)">
  </div>
  <br>
  <div>
    <input class="inputitle"
      style=" width: 350px;"
      type="text"
      name="title"
      placeholder="Picture title"
      [(ngModel)]="pictureTmp.title">
  </div>
  <div>
    <br>
    <!--<button class="myUpload" (click)="resetPicture()" type="submit">RESET</button>-->
    <button md-raised-button class="myUpload ButtonStyle" type="submit">UPLOAD</button>
  </div>
</form>




<video autoplay loop id="video-background" muted class="VideoStyle">
  <source src="https://vimeo-hp-videos.global.ssl.fastly.net/2/2.mp4" type="video/mp4">
</video>





