.Menubar {
  padding-top:21px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.001);
  flex: 1 1 auto;
  border-bottom: groove white 1px;
  -webkit-box-shadow: 0px 3px 1px  rgba(0,0,25,0.35);
  -moz-box-shadow: 0px 3px 5px  rgba(0,0,25,0.75);
  box-shadow: 0px 5px 3px  rgba(0,0,25,0.75);

}
.titlew{
  font-family: "High Tower Text";
  color : whitesmoke;
  font-size: 20px;
  padding-right: 85px;
}
.titlew:hover{
  font-family: "High Tower Text";
  color : lightblue;
  font-size: 20px;
  padding-right: 85px;
  transform: scale(1.03);
}

.TitlePos {
  padding: 15px;
  flex: 1 1 auto;

}

.ButtonPos {
  padding: 15px;
  flex: 1 1 auto;
}

.ButtonStyle {
  font-size: 23px;
  font-family: "High Tower Text";
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 4px 3px 1px  rgba(0,0,25,0.35);
  -moz-box-shadow: 8px 3px 5px  rgba(0,0,25,0.75);
  box-shadow: 5px 5px 3px  rgba(0,0,25,0.75);
}

.ButtonStyle:hover{
  border-bottom: solid white 1px;
  background-color: rgba(0, 0, 0, 0.001);
  animation: shawd 2s;
  -moz-animation: shawd 2s; /* Firefox */
  -webkit-animation: shawd 2s; /* Safari et Chrome */
  -o-animation: shawd 2s; /* Opera */

}

.VideoStyle {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.welcome {
  font-family: Gungsuh;
  font-size: 20px;
  height: 260px;
  color: whitesmoke;
  width : auto;
  margin: auto;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.40);
}

.pictur{
  animation: fadein 20s;
  -moz-animation: fadein 20s; /* Firefox */
  -webkit-animation: fadein 20s; /* Safari et Chrome */
  -o-animation: fadein 20s; /* Opera */
}

@keyframes shawd {
  from {
    transform: scale(1.00);
    -webkit-box-shadow: 4px 3px 1px  rgba(0,0,25,0.35);
    -moz-box-shadow: 8px 3px 5px  rgba(0,0,25,0.75);
    box-shadow: 5px 5px 3px  rgba(0,0,25,0.75);

  }
  to {
    transform: scale(1.04);
    -webkit-box-shadow: 8px 8px 5px  rgba(0,0,25,0.35);
    -moz-box-shadow: 8px 8px 5px  rgba(0,0,25,0.75);
    box-shadow: 8px 8px 5px  rgba(0,0,25,0.75);
  }
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* sur Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* sur Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}

.shad{
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


.dropzone {

  margin: 0 auto;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.001);
  border : dotted 3px black;
  height:300px;
  width:1050px;
}
.uploadbutton {

  margin: 0 auto;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.001);
  height:300px;
  width:1050px;
}

.dropzone:hover{
  border : dotted 3px lightgreen;
}

.myReset {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius:5px;
  border:1px solid #566963;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:11px 23px;
  text-decoration:none;
  text-shadow:0px -1px 0px #2b665e;

}
.myReset:hover {

  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
  background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
  background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
  background-color:#6c7c7c;
}

.myReset:active {
  position:relative;
  top:1px;
}

.myUpload {
  color : whitesmoke;
  margin: 0 auto;
  border-radius: 3px;


}
.myUpload:hover {
  border-bottom: groove white 1px;
  margin: 0 auto;
  border-radius: 3px;
}

.inputitle {
  flex: 1 1 auto;
  border: groove black 1px;
  margin: 0 auto;
  border-radius: 3px;
  -webkit-box-shadow: 6px 5px 2px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 5px 2px 1px rgba(0,0,0,0.75);
  box-shadow: 6px 5px 2px 1px rgba(0,0,0,0.75);
}
